body {
  background-color: gray;
}

div.container {
  width: 80%;
  margin: auto;
  background-image: url('imagenes/banner-home.png');
  background-repeat: no-repeat;
  max-width: 1120px;
  min-width: 660px;
  overflow: hidden;
}

header {
  float:right;
}

header h1 {
  padding: 540px 100px 0px 0px;
  color: white;
  font-size: 5em;
}

nav {
  width: 30%;
  float: left;
}

.opcionMenu {
  padding: 40px;
  margin : 20px;
  min-width: 90px;
}

.opcionMenu a {
  background-color: rgba(112,170,71,0.8);
  color: white;
  padding: 40px 60px;
  text-decoration: none;
  font-size: 2em;
}

.opcionMenu a:hover {
  color: rgba(112,170,71,0.8);
  background-color: white;
}

footer {
  clear: both;
  overflow: hidden;
}

footer .footerBox {
  width: 50%;
}

footer #footerLeft {
  float: left;
}

footer #footerRigth {
  float: left;
}

footer #footerRigth > div{
  float: right;
}

footer ul {
  list-style: none;
}

footer ul li {
  display:inline;
}
